<div>
    <div class="mt-4">
        <section class="row" style="display: flex; flex-direction: row; justify-content: space-between">
            <div class="introduce_card card text-center" style="">
                <div class="icon_container">
                    <ion-icon name="person-outline"></ion-icon>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Best Teachers</h5>
                    <p class="card-text">With a youthful style, ready to listen; We bring you our best teachers</p>
                </div>
            </div>
            <div class="introduce_card card text-center">
                <div class="icon_container">
                    <ion-icon name="book-outline"></ion-icon>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Best Practices</h5>
                    <p class="card-text">Focus on Reality Practices. Learn to have knowledge and career orientation.</p>
                </div>
            </div>
            <div class="introduce_card card text-center">
                <div class="icon_container">
                    <ion-icon name="cash-outline"></ion-icon>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Best Price</h5>
                    <p class="card-text">Priority is given to students &amp people who have not worked. We try our best
                        to make it suitable for you
                    </p>
                </div>
            </div>
        </section>

        <form class="form-inline my-4 my-lg-0" method="GET" action="/">
            <input class="form-control mr-sm-2" type="search" placeholder="Search courses..." aria-label="Search"
                name="q">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        <div class="row ">
            {{#each courses}}
            <div class="col-sm-6 col-lg-4 mt-4">
                <div class="card card-courses-item">
                    <a href="/courses/{{this.slug}}">
                        <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                    </a>
                    <div class="card-body">
                        <a href="/courses/{{this.slug}}">
                            <h5 class="card-title">{{this.name}}</h5>
                        </a>
                        <p class="card-text" style="height: 150px; overflow: hidden; ">{{this.description}}</p>

                        <div class="my-2" style="">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star "></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                        </div>



                        <a href="https://www.udemy.com/" class="btn btn-primary" target="_blank">Buy courses</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>